Django>=5.0
djangorestframework
django-cors-headers
django-environ
gunicorn
whitenoise
requests
Pillow
# Email service (SendGrid)
sendgrid>=6.10.0
django-sendgrid-v5>=1.0.0
# WhatsApp/SMS service (Twilio)
twilio>=9.0.0
# Database (Postgres)
psycopg2-binary
